// Custom light color scheme（Share light color schemes when dark color schemes are not overridden）
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  // default color scheme
  $colors: (
        'primary': ( 'base': #409eff ),
        'success': ( 'base': #67c23a ),
        'warning': ( 'base': #e6a23c ),
        'danger': ( 'base': #f56c6c ),
        'error': ( 'base': #f56c6c ),
        'info': ( 'base': #909399 ),
  ),
);

/* wangEditor 选中颜色 */
:root {
  --w-e-textarea-selected-border-color: var(--el-color-primary-light-5);// #B4D5FF; // 选中的元素，如选中了分割线
  --w-e-textarea-handler-bg-color: var(--el-color-primary);//#4290f7; // 工具，如图片拖拽按钮
  --menu-active-background-color: #3a4979 !important;
}