<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "./mybatis-3-mapper.dtd">
<mapper namespace="com.diboot.shiro.mapper.PermissionMapper">

    <select id="getPermissionListByRoleIdList" parameterType="java.util.List" resultType="com.diboot.shiro.entity.Permission">
        SELECT self.*, rp.role_id
        FROM permission self
        LEFT JOIN role_permission rp ON self.id = rp.permission_id
        WHERE self.is_deleted=0 AND rp.is_deleted = 0
                AND rp.role_id IN <foreach collection="list" separator="," open="(" close=")" item="roleId">
                                    #{roleId}
                                    </foreach>
    </select>
</mapper>