# Ignore Gradle project-specific cache directory
.gradle
*.iml
application.properties
application-*.properties
.DS_Store

# Ignore Gradle build output directory
build/
out/
/.idea/
gradle/
dist/
libs/
target/