<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "./mybatis-3-mapper.dtd">
<mapper namespace="com.diboot.iam.mapper.IamRolePermissionMapper">

    <select id="getPermissionsByRoleIds" resultType="com.diboot.iam.entity.IamPermission">
        SELECT p.*
        FROM iam_permission p
        WHERE p.application=#{application} AND p.id IN(
            SELECT DISTINCT permission_id FROM iam_role_permission
            WHERE role_id IN
            <foreach collection="roleIds" item="roleId" separator="," open="(" close=")">
                #{roleId}
            </foreach>
            AND is_deleted=0
        )
        AND is_deleted=0
    </select>

</mapper>