:root {
  //  .el-dialog {
  //    --el-dialog-margin-top: 10vh;
  //  }

  .el-drawer {
    .el-drawer__header {
      margin-bottom: 0;
    }
  }
}

.el-descriptions__label {
  color: var(--el-text-color-regular) !important;
  font-weight: bold;
}

.el-select, .el-date-editor {
  width: 100%;

  .el-input__wrapper {
    width: -webkit-fill-available;
  }
}

.table-page {
  height: 100%;
  display: flex;
  flex-direction: column;

  .list-search {
    border-bottom: 1px dashed var(--el-border-color);

    .el-row {
      margin: 9px 0 -9px !important;
    }
  }

  .list-operation {
    width: calc(100% - 5px * 2);
    padding: 5px;

    div:last-child {
      margin-left: auto;
    }

    .search-input {
      width: 200px;
    }
  }

  .el-pagination {
    margin: 5px;
  }
}

.long-text {
  word-wrap: break-word;
  word-break: break-all;
}
